<a href="https://colab.research.google.com/github/AkshitaAggarwal/Spam-Mail-Prediction/blob/main/spam_mail_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

data preprocessing

In [2]:
# load the dataset to pandas Data Frame
raw_mail_data = pd.read_csv('spam.csv', encoding = 'latin-1')
# replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)), ' ')

In [3]:
#to view no. of sample data and the number of categories that it is divided into
mail_data.shape

(5572, 5)

In [5]:
#to see first few rows of your data
mail_data.head(10)

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...
5  spam  ...
6   ham  ...
7   ham  ...
8  spam  ...
9  spam  ...

[10 rows x 5 columns]

In [6]:
#labeling spam mails as 0 and ham(non -spam) mails as 1
mail_data.loc[mail_data['v1'] == 'spam', 'v1',] = 0   #loc function for locating the spam value
mail_data.loc[mail_data['v1'] == 'ham', 'v1'] = 1

In [7]:
mail_data.head()

  v1                                                 v2  ... Unnamed: 3 Unnamed: 4
0  1  Go until jurong point, crazy.. Available only ...  ...
1  1                      Ok lar... Joking wif u oni...  ...
2  0  Free entry in 2 a wkly comp to win FA Cup fina...  ...
3  1  U dun say so early hor... U c already then say...  ...
4  1  Nah I don't think he goes to usf, he lives aro...  ...

[5 rows x 5 columns]

In [8]:
#separate the data as text and label.   X --> text  Y --> label
X = mail_data['v2']
Y = mail_data['v1']
print(X)
print('......................')
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
......................
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [9]:
#train test split
X_train ,X_test, Y_train, Y_test = train_test_split(X ,Y, train_size = 0.8, test_size = 0.2, random_state = 3)

feature extraction

In [11]:
#transform the text data to feature vector that can be used as input to SVM model using TfidfVectorizer
#convert the text to lower case
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase = 'True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test values as integers
Y_train = Y_train.astype('int') 
Y_test = Y_test.astype('int')

Training the model --> **Support Vector Machine**

In [13]:
model = LinearSVC()
#training the model
model.fit(X_train_features,Y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

Evaluation of the model

In [14]:
#prediction on training data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [15]:
print('Accuracy on Training data: ', accuracy_on_training_data)

Accuracy on Training data:  0.9995512676688355

In [16]:
#prediction on test data
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [17]:
print('Accuracy on Test data: ',accuracy_on_test_data)

Accuracy on Test data:  0.9856502242152466

Prediction on New Mail

In [20]:
input_mail = ["England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/Ì¼1.20 POBOXox36504W45WQ 16+"]
#convert text to feature vectors
input_mail_features = feature_extraction.transform(input_mail)

#making prediction in input mail
prediction = model.predict(input_mail_features)
print(prediction)

if prediction[0] == 0:
  print('Its a spam mail')
else:
  print('Its a ham mail')

[0]
Its a spam mail